
{% extends './layout.html' %} 
{% block title %} 文章详情 {% endblock %} 
{% block content%}
<div id="content" class="post-single">
   <input id="id" type="hidden"  value="{{article.id }}"> 
    <div id="singular-content">
        <article>
            <header class="entry-header">
                <h1>{{article.title}}</h1>
            </header>
            <!-- 
                raw()  确保html代码不会被转义  swig过滤器
             -->
            <div class="entry-content" style=" word-wrap: break-word;">{{article.body|raw()}}</div>
            <div class="clear"></div>
        </article>
       
        <div id="comments">   
                <div id="comment-title">   
                        <span>10 COMMENTS</span>
                </div>   
                
                {% for key,val in article.comments %}
                <input type="hidden"  value="{{val.id }}">
                <ol class="comment-list" style="margin-bottom: 10px">
                    <li>
                        <div class="comment-body">
                                <div class="author">
                                    <img src="https://secure.gravatar.com/avatar/b97c8ff86487fbfdc0d6db4607c9bc05?s=38&d=mm&r=g" alt="">
                                </div>
                                <span class="time">{{val.data.toISOString().substring(0,10)}}</span>
                                <div class="commlist-middle">
                                    <span class="name">小柒</span>
                                    <div class="text" style=" word-wrap: break-word; min-height:28px">{{val.body}}</div>
                                </div>
                        </div>
                    </li>
                </ol>
                {% endfor %}
            <form >
                <div class="form-group">
                    <div for="body">文章内容</div> 
                    <textarea name="body" id="body" name="body" style="width: 100%; height:100px;" placeholder="请输入评论"></textarea>
                    
                </div>     
                <button type="submit" class="submit" style="float: right">发布</button>
            </form>
        
        </div>
       
    </div>
    
</div>
{% endblock %} 
    {% block js %}
    <script data-main="index/article-details" src="/public/common/main.js"></script>
    {% endblock %}
