
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章编辑</title>
</head>
<body>
    
    
    阿诗丹顿店
    <!-- 表格 -->
    
    <a class="pjax" href="/index2">点我跳转</a>
    <div id="container">
        assssssssssssssssssssss
    </div>
 <script src="/public/common/admin-lib.js"></script>
 <script data-main="index/index" src="/public/common/main.js"></script>
</body>
</html>

   
 